.nuxtLogo {
  position: relative;
}

.sidebar {
  width: 160px;
  height: 100vh;
  border-color: rgb(150, 180, 190);
  border-width: 1px;
  border-right-style: solid;
  background-color: #bab8bdaa;
}

.room {
  font-size: 30px;
  border-color: rgb(150, 180, 190);
  border-width: 1px;
  border-right-style: solid;
  text-align: center;
}

.boardContainer {
  position: relative;
  height: 100px;
  background-color: #2f6665;
}

.cardContainer {
  position: absolute;
  width: 240px;
  height: 320px;
}

.stickyArea {
  height: 32px;
  background-color: #eee8;
}

.textArea {
  max-width: 240;
  max-height: 288;
  width: 240;
  height: 288;
  filter: invert(100%) grayscale(100%);
  background-color: transparent;
}